.container-nav-perfil {
  display: flex;
  position: sticky;
  height: 100vh;
  width: 4rem;
  padding: 0.25rem;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: space-between;
}
.subcontainer-nav-perfil {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container-write {
  width: 100%;
}
.circle-write {
  background-color: rgb(29, 161, 242);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  padding: 0.75rem;
}
.circle-write > svg {
  width: 1.5rem;
}
.circle-write:hover {
  background-color: #1a91da;
}

.element-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}
.nav-perfil-element {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: 2.5rem;
}
.img-element-perfil {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.container-photo-perfil {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.logout-style {
  cursor: pointer;
}
.container-photo-perfil::before {
  content: "Cerrar sesión";
  display: flex;
  justify-content: center;
  position: absolute;
  font-size: 12px;
  width: 5rem;
  height: 1rem;
  color: white;
  background-color: #757781;
  font-weight: lighter;
  opacity: 0;
  transform: translateY(0);
  transition: all 0.3s ease;
}
.container-photo-perfil:hover::before {
  transform: translateY(-2rem);
  opacity: 1;
}
