.container-trending {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
}
.container-input-search {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 4rem;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 999;
}
.container-input-search > input {
  background-color: #202327;
  border: 0;
  color: white;
  padding: 0.75rem 2rem;
  outline: 0;
  border-radius: 15px;
}
.container-input-search > svg {
  position: absolute;
  top: 1.5rem;
  left: 2.5rem;
  width: 1rem;
}
.container-trend-elements {
  width: 17rem;
  display: flex;
  background-color: #15181c;
  border-radius: 12px;
  flex-direction: column;
}
.header-trending {
  width: 100%;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-content: center;
}
.header-trending > p {
  color: #d9d9d9;
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 20px;
}
.header-trending > svg {
  width: 1rem;
}
.link-trend {
  width: 100%;
  padding-left: 1rem;
  padding-right: 0.5rem;
  background-color: #15181c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  height: 5.5rem;
}
.link-trend:hover {
  background-color: #1c1f23;
}
.container-tittle-trend {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container-tittle-trend > span {
  display: flex;
  color: #6e767d;
  font-size: 14px;
}
.container-tittle-trend > span > p {
  margin-right: 0.25rem;
}
.container-tittle-trend > svg {
  width: 1rem;
}
.text-trending {
  color: #d9d9d9;
  font-weight: bolder;
}
.cantidad-trending {
  color: #6e767d;
  font-size: 14px;
}
@media screen and (max-width: 920px) {
  .container-trending {
    display: none;
  }
}
